.footer__info-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__info-links {
    flex-direction: column;
    gap: 32px;
  }
}