.footer {
  background-color: #2A2C2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 92px auto 0;
  padding: 0 48px 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 88px;
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    margin-top: 64px;
    padding: 0 16px 24px;
  }
}